* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; }

.contenedor {
  line-height: 1;
  background-color: white;
  width: 100%;
  align-items: center;
  padding-bottom: 2em; }
  .contenedor .fraseBienvenida {
    display: flex;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 5%;
    justify-content: center;
    align-items: center;
    z-index: 1; }
    .contenedor .fraseBienvenida .contenidoFrase {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      align-items: center; }
  .contenedor .logotipo {
    display: flex;
    justify-content: center;
    padding-top: 2em; }
    .contenedor .logotipo .logotipoImg {
      width: 45px;
      height: 45px; }
  .contenedor .tituloPrincipal {
    display: flex;
    justify-content: center;
    margin-bottom: 1em; }
    .contenedor .tituloPrincipal h1 {
      font-size: 3rem; }
  .contenedor .search {
    display: flex;
    padding-top: 1em;
    padding-bottom: 0.5em;
    justify-content: right;
    column-gap: 1em;
    margin-right: 2.5em; }
    .contenedor .search .carroButton {
      min-width: fit-content; }
      .contenedor .search .carroButton .carroImg {
        height: 1.3em; }
    .contenedor .search .lupaButton {
      min-width: fit-content; }
      .contenedor .search .lupaButton .lupaImg {
        height: 1.3em; }

.menu {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center; }
  .menu a {
    float: left;
    text-align: center;
    padding: 1em 1.8em;
    margin-top: 3em;
    font-size: 1.1rem;
    font-weight: bold;
    font-style: normal;
    z-index: 1;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    transition: transform 0.3s;
    letter-spacing: .1em;
    font-weight: bold;
    font-style: normal;
    text-decoration: none; }
  .menu a:hover {
    transform: scale(1.3); }

.slide {
  position: relative; }
  .slide .slide__info {
    background: url(../imagenes/decorative-candles-with-flowers.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position: bottom;
    height: 400px;
    position: relative;
    align-items: center;
    text-align: right;
    width: 100%;
    padding-top: 2em;
    padding-right: 4em;
    transition: transform .2s; }
  .slide .slide__info:hover {
    transform: scale(1.03); }
  .slide .primeraFrase {
    padding-top: 1.2em;
    text-transform: uppercase;
    line-height: 1.3em;
    letter-spacing: .08em;
    font-size: 1.1rem;
    font-weight: bold; }
  .slide .somosCandle {
    font-size: 2rem;
    padding-top: 1.2em;
    line-height: 1.1em;
    font-weight: bolder;
    margin-bottom: 0.9em; }
  .slide .textoSeccion {
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: .04em;
    padding-left: 43em;
    line-height: 1.9em; }
  .slide .comprarAhora {
    margin-top: 30px;
    font-size: 0.75rem;
    font-weight: bold;
    font-style: normal;
    z-index: 1;
    text-transform: uppercase;
    background-color: #88563a;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    opacity: 0.8;
    transition: 0.3s;
    letter-spacing: .2em;
    font-weight: bold;
    font-style: normal;
    text-decoration: none; }

.comprarAhora:hover {
  opacity: 1; }

.quieneSomos {
  text-align: center;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column; }
  .quieneSomos .quienes-somos-titulo {
    text-align: center;
    background-color: white;
    padding-bottom: 0.5em;
    margin-bottom: 2%; }
    .quieneSomos .quienes-somos-titulo h2 {
      font-size: 2rem;
      padding-top: 0.5em;
      padding-bottom: 0.5em; }
  .quieneSomos p {
    font-family: 'Roboto', sans-serif;
    line-height: 1,5px;
    font-size: 1.3rem;
    letter-spacing: .03em;
    line-height: 1.9em;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    width: 80%; }
  .quieneSomos .boton2 {
    position: static;
    margin-top: 2%;
    padding: 1em 1.8em;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
    .quieneSomos .boton2 .conoce {
      text-transform: uppercase;
      font-size: 0.75rem;
      background-color: #88563a;
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      margin: 4px 2px;
      opacity: 0.7;
      transition: 0.3s;
      letter-spacing: .2em;
      font-weight: bold;
      font-style: normal;
      text-decoration: none; }
  .quieneSomos .conoce:hover {
    opacity: 1; }

.bestSellers {
  width: 100%;
  margin-bottom: 5%; }
  .bestSellers .ventasBest {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    background-color: white;
    width: 100%; }
  .bestSellers .ventasBest p {
    font-size: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold; }
  .bestSellers .gridContainer {
    display: grid;
    grid-template-columns: 18em 18em;
    grid-template-rows: 15.6em 4.125em 3.125em;
    column-gap: normal;
    width: 36em;
    height: 26em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    text-align: center; }
  .bestSellers .primerElemento:hover {
    transform: scale(1.1); }
  .bestSellers .imagenVenus {
    width: 15em;
    height: 15em;
    border-radius: 1%; }
  .bestSellers .segundoElemento:hover {
    transform: scale(1.1); }
  .bestSellers .imagenDavid {
    width: 15em;
    height: 15em;
    border-radius: 1%; }
  .bestSellers .tercerElemento p {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: .1em; }
  .bestSellers .cuartoElemento p {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: .1em;
    text-align: center;
    margin-right: 0.5em; }
  .bestSellers .quintoElemento {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    align-items: center;
    margin-top: 5%;
    text-align: center; }
    .bestSellers .quintoElemento .agregar-al-carrito {
      text-transform: uppercase;
      font-size: 0.75rem;
      background-color: #88563a;
      border: none;
      color: white;
      padding: 16px 16px;
      text-align: center;
      margin: 4px 2px;
      opacity: 0.7;
      transition: 0.3s;
      letter-spacing: .2em;
      text-decoration: none;
      border-radius: 1%; }
    .bestSellers .quintoElemento .agregar-al-carrito:hover {
      opacity: 1; }
  .bestSellers .sextoElemento {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-top: 5%; }
    .bestSellers .sextoElemento .agregar-al-carrito {
      text-transform: uppercase;
      font-size: 0.75rem;
      background-color: #88563a;
      border: none;
      color: white;
      padding: 16px 16px;
      text-align: center;
      margin: 4px 2px;
      opacity: 0.7;
      transition: 0.3s;
      letter-spacing: .2em;
      font-weight: bold;
      font-style: normal;
      text-decoration: none; }
    .bestSellers .sextoElemento .agregar-al-carrito:hover {
      opacity: 1; }

.informacion-contacto {
  background-color: white; }
  .informacion-contacto h2 {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 2rem; }

.contactanos {
  display: flex;
  flex-direction: row; }
  .contactanos .contiene {
    display: block;
    margin-left: 3em;
    margin-top: 4em;
    justify-content: center;
    padding-bottom: 4em;
    width: 45%; }
    .contactanos .contiene .escribenos {
      font-weight: bold;
      font-size: 1.5rem;
      text-align: left;
      letter-spacing: .1em; }
    .contactanos .contiene .textoContacto {
      font-weight: 600;
      text-align: left;
      letter-spacing: .1em; }

.form-style {
  font: 95% 'Roboto', sans-serif;
  max-width: 27%;
  margin: 10px auto;
  margin-top: 3em;
  background: whitesmoke;
  transition: transform .2s; }

.form-style:hover {
  transform: scale(1.03); }

.form-style h1 {
  background: #131212;
  padding: 0.5em;
  font-size: 140%;
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin-top: 0%;
  margin-bottom: 4%; }

.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style textarea,
.form-style select {
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% 'Roboto', sans-serif;
  font-weight: 800; }

.form-style input[type="submit"],
.form-style input[type="button"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #212020;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: white;
  font-weight: 400;
  opacity: 0.6;
  transition: 0.3s; }

.form-style [type="submit"]:hover,
.form-style [type="button"]:hover {
  color: white;
  opacity: 1; }

.piePagina {
  background-color: #dad8d8; }
  .piePagina .lineasFinales {
    font-size: 1rem;
    text-align: center;
    letter-spacing: .1em;
    margin-left: auto;
    margin-right: auto; }
  .piePagina .lineasFooter {
    display: inline-flex;
    padding-inline-end: 60px;
    list-style: none;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 900;
    color: black;
    text-decoration: none; }
  .piePagina .iconosRedes {
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: center;
    column-gap: 1em; }
  .piePagina .contenedorIconos {
    width: fit-content; }
  .piePagina .socialIcons {
    height: 2em; }
  .piePagina .copyR {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    font-weight: 400;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center; }
  .piePagina .enlaceCopy {
    color: white;
    font-weight: 400;
    text-decoration: none; }

@media screen and (max-width: 780px) {
  body {
    overflow-x: hidden;
    width: fit-content; }
  .menu {
    display: flex;
    flex-direction: row;
    width: 100%; }
  .menu a {
    margin-top: 0em;
    padding: 0.5em 0.5em; }
  .fraseBienvenida {
    align-items: center;
    text-align: center;
    padding: 1em; }
  .contenidoFrase {
    padding: 0.5em;
    font-size: 1.3rem; }
  .logotipoImg {
    display: none; }
  .contenedor {
    margin-top: 1.5rem; }
  .contenedor .search {
    padding-top: 0.1em; }
  .slide {
    position: relative; }
  .slide .slide__info {
    background: url(../imagenes/decorative-candles-with-flowers.jpg);
    background-size: cover; }
  .slide__info .textoSeccion {
    display: none; }
  .slide__info .primeraFrase {
    font-size: 1.5rem; }
  .slide__info .somosCandle {
    display: none; }
  .slide__info .comprarAhora {
    margin-top: 10em;
    font-size: 1rem; }
  .contactanos {
    display: flex;
    flex-direction: column; }
  .contactanos .contiene {
    margin-left: 2em;
    margin-right: auto;
    margin-top: 3em;
    justify-content: center;
    padding-bottom: 1em;
    width: 85%;
    font-size: 1.5rem; }
  .contactanos .form-style {
    font-family: 'Roboto', sans-serif;
    max-width: 85%;
    margin: 10px auto;
    margin-top: 3em;
    background: whitesmoke;
    transition: transform .2s;
    margin-bottom: 6em;
    font-size: 1.5rem; }
  .piePagina .lineasFinales {
    display: none; } }
